// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

// It's a good practice to add component-specific overrides here to ensure
// they align perfectly with your new theme. Here are some examples for buttons.

.btn {
  // Example: Ensure all buttons use the new font if you've set one.
  font-family: 'Playwrite AU QLD', cursive;

  // Example: Remove default text decoration on hover/focus if desired.
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Override button states to use the color shades defined in _variables.scss
.btn-primary {
  &:not(:disabled):not(.disabled) {
    &:hover,
    &.hover {
      background-color: $primary-700;
      border-color: $primary-700;
    }

    &:focus,
    &.focus {
      // Use a box-shadow for the focus state for better accessibility.
      box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
    }
  }
}
